<section class="hero">
  <img src={Routes.static_path(@conn, "/images/hero.png")} alt="Dogger Hero Image"/>
</section>

<section class="button-links">
  <ul>
    <li><a href="/stays"><button>Calendar</button></a></li>
    <li><a href="/owners"><button>Owners</button></a></li>
    <li><a href="/pets"><button>Pets</button></a></li>
  </ul>
</section>
